#selecttags{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}
#selecttags select{
width: 20%;
padding: 1vh;
border: none;
background-color: white;
border-bottom: 1px solid black;
}
#selecttags select>option:hover{
    background-color: black;
    color: white;
}
#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
#container>div{
    /* width: 23%; */
    text-align: center;

}
#container>div> img{
    width: 100%;
}
#container>div> p:nth-child(2){
    font-weight:bold ;
}
#container>div> p{
    padding-top: 10px;
}
.bn11 {
    display: inline-block;
    padding: 0.5em 1.7em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgba(255, 255, 255, 0);
    background-color: rgb(52, 52, 52);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #ffffff;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;
  }
  
  .bn11:hover {
    border-color: rgb(255, 255, 255);
    background-color:black;
  }