@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Titillium+Web:wght@400;700&display=swap");

header{
    width: 80%;
    /* border:1px solid black; */
    align-items: center;
    margin: auto;
    text-align: center;
    padding: 5vh;
    font-family: Montserrat, sans-serif;
}
body{
    font-family: Montserrat, sans-serif;
}
#back{
    text-decoration: none;
    color: black;
    margin-right: 42%;
    font-size: 30px;
}
#container{
    width: 80%;
    margin: auto;
    padding: 5vh;
    /* border: 1px solid black; */
}
.logo{
    text-decoration: none;
    color: black;
    margin-right: 42%;
    font-size: 30px;
}  
#item_count{
    padding-top: 10px;
} 
#container{
    display: flex;
}
#child-container>div{
    display: flex;
    height:300px;
    /* width: 400px; */
    /* border: 1px solid red; */
    flex-direction: row;
    padding: 2vh;
    
}
#item{
    padding-top: 100px;
}
#card_img{
    width: 60%;
}
#payment{
    margin-left: 150px;
}
#card{
    font-size: 40px;
}
#payment_details{
    /* border: 1px solid red; */
    width: 350px;
    padding: 5vh;
}
#payment_details>button{
    width: 350px;
    /* padding: 3vh; */
}

#checkout{
    color: white;
    background-color: black;
    border: none;
    padding: 3vh;
    font-size: 15px;
}
#checkout:hover{
    cursor: pointer;
    background-color: rgb(46, 46, 46);
}
.fa-paypal{
    font-size: 40px;
    color: white;
}
#paypal{
    padding-top:7px ;
    padding-bottom: 7px;
    border: none;
    background-color: black;
}
#paypal:hover{
    cursor:pointer;
    background-color: rgb(30, 30, 30);
}
#additional_info{
    padding: 5vh;

}
#remove_btn{
    width: 50%;
    /* padding: 2vh; */
    /* background-color: red; */
    border: none;
    border-radius: 30px;
    font-size: 15px;
}
#remove_btn:hover{
    background-color: red;
}
.fa-remove{
    font-size: 20px;
}